<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tiny</key>
	<string>bus_stop_icon10x10.png</string>
	<key>small</key>
	<string>bus_stop_icon20x20.png</string>
	<key>middle</key>
	<string>bus_stop_icon30x30.png</string>
	<key>large</key>
	<string>bus_stop_icon40x40.png</string>
</dict>
</plist>
