<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>route_number</key>
	<string>4</string>
	<key>route_destination</key>
	<string>Achleiten</string>
	<key>stops</key>
	<array>
		<array>
			<string>Hochstein</string>
			<real>48.59453</real>
			<real>13.46268</real>
		</array>
		<array>
			<string>Hals</string>
			<real>48.59168</real>
			<real>13.4628</real>
		</array>
		<array>
			<string>Landrichterstr.</string>
			<real>48.58899</real>
			<real>13.46339</real>
		</array>
		<array>
			<string>Achatiusstr.</string>
			<real>48.58713</real>
			<real>13.46415</real>
		</array>
		<array>
			<string>Oetkersiedlung</string>
			<real>48.58483</real>
			<real>13.47026</real>
		</array>
		<array>
			<string>Ilzleite</string>
			<real>48.58475</real>
			<real>13.47366</real>
		</array>
		<array>
			<string>Christdobl</string>
			<real>48.58049</real>
			<real>13.47655</real>
		</array>
		<array>
			<string>Ilzbrücke</string>
			<real>48.57719</real>
			<real>13.47332</real>
		</array>
		<array>
			<string>Römerplatz</string>
			<real>48.57501</real>
			<real>13.47049</real>
		</array>
		<array>
			<string>Rathaus</string>
			<real>48.57555</real>
			<real>13.4682</real>
		</array>
		<array>
			<string>Nagelschmiedgasse</string>
			<real>48.57616</real>
			<real>13.46118</real>
		</array>
		<array>
			<string>Schanzlbrücke</string>
			<integer>48</integer>
			<real>13.45576</real>
		</array>
		<array>
			<string>ZOB</string>
			<real>48.57255</real>
			<real>13.4559</real>
		</array>
		<array>
			<string>Augustinergasse</string>
			<real>48.57057</real>
			<real>13.45872</real>
		</array>
		<array>
			<string>Stadttheater</string>
			<real>48.5734</real>
			<real>13.46368</real>
		</array>
		<array>
			<string>Kirchenplatz</string>
			<real>48.571116</real>
			<real>13.466148</real>
		</array>
		<array>
			<string>Jahnstr.</string>
			<real>48.57021</real>
			<real>13.46672</real>
		</array>
		<array>
			<string>Mühltalstr.</string>
			<real>48.57082</real>
			<real>13.47267</real>
		</array>
		<array>
			<string>Jesuitenschlößl</string>
			<real>48.57081</real>
			<real>13.4765</real>
		</array>
		<array>
			<string>Johann-Bergler-Str.</string>
			<real>48.57107</real>
			<real>13.48058</real>
		</array>
		<array>
			<string>Schwendistr.</string>
			<real>48.56917</real>
			<real>13.4834</real>
		</array>
		<array>
			<string>Hörnerweg</string>
			<real>48.56851</real>
			<real>13.48863</real>
		</array>
		<array>
			<string>Kremserstr.</string>
			<real>48.5695</real>
			<real>13.48958</real>
		</array>
		<array>
			<string>Auenweg</string>
			<real>48.57077</real>
			<real>13.48755</real>
		</array>
		<array>
			<string>Haibach</string>
			<real>48.57315</real>
			<real>13.49609</real>
		</array>
		<array>
			<string>Achleiten</string>
			<real>48.57867</real>
			<real>13.5031</real>
		</array>
	</array>
</dict>
</plist>
